<MudExpansionPanel HideIcon="true">
    <TitleContent>
        <div class="d-flex">
            <MudText Class="mt-1">@($"{CustomFieldsName} fields")</MudText>
            <MudBadge Content=@CustomFields.Count(c => c.Enable) Overlap="true" Class="d-flex ml-auto" Visible=@CustomFields.Any(c => c.Enable)>
                <MudIcon Icon="@Icons.Material.Filled.ExpandMore" Color="Color.Default" />
            </MudBadge>
        </div>
    </TitleContent>
    <ChildContent>
        @for (int i = 0; i < CustomFieldsCount; i++)
        {
            var index = i;
            <MudPaper Class="d-flex align-end flex-grow-1 gap-4" Elevation="0">
                <MudCheckBox @bind-Value="CustomFields[index].Enable"></MudCheckBox>
                <MudTextField @bind-Value="CustomFields[index].Name" Label=@($"Field #{index+1} name") Required="CustomFields[index].Enable" Disabled="!CustomFields[index].Enable"></MudTextField>
            </MudPaper>
        }
    </ChildContent>
</MudExpansionPanel>

@code {
    [Parameter] public List<CustomField> CustomFields { get; set; }
    [Parameter] public string CustomFieldsName { get; set; }
}
