@using PersonalCollectionWebApp.Components.Layout
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IStringLocalizer<MainLayout> locale

<div class="input-group" Style="width: 500px;">
    <input @bind="searchString" type="text" class="form-control" placeholder=@locale["Search items"] aria-label="Search items" aria-describedby="button-addon2">
    <button @onclick="NavigateToSearchItems" class="btn btn-outline-secondary" type="button" id="button-addon2">@locale["Search"]</button>
</div>

@code {
    private string searchString;

    private void NavigateToSearchItems()
    {
        if (!string.IsNullOrEmpty(searchString))
        {
            NavigationManager.NavigateTo($"/{NavSearch}?{ParameterSearchString}={searchString}", true);
            searchString = "";
        }
    }
}
